# Flask Configuration
FLASK_SECRET_KEY=place-key-here

# Steam API Developer Key
STEAM_API_KEY=place-key-here

# OpenAI API
OPENAI_API_KEY=place-key-here

# Database Configuration
DATABASE_URL=place-url-here

# CORS - comma-separated list of allowed origins
ALLOWED_ORIGINS=comma-separated-origins

# Application URLs
BACKEND_URL=place-url-here
FRONTEND_URL=place-url-here
